# More info: http://ufoships.com/docs/ufo-settings/
base: &base
  image: <%= @image %>
  # clean_keep: 30
  # ecr_keep: 30
  # defaults when an new ECS service is created by ufo ship
  new_service:
    maximum_percent: 200
    minimum_healthy_percent: 100
    desired_count: 1

development:
  <<: *base
  cluster: dev
  aws_profiles:
    - dev_profile1
    - dev_profile2

production:
  <<: *base
  cluster: prod
  aws_profiles:
    - prod_profile
