---
vpc: <%= @options[:vpc_id] %>
ecs_subnets: # required: at least 2 subnets
<% @options[:ecs_subnets].each do |subnet| -%>
  - <%= subnet %>
<% end -%>
elb_subnets: # defaults to same subnets as ecs_subnets
<% @options[:elb_subnets].each do |subnet| -%>
  - <%= subnet %>
<% end -%>

# Optional additional existing security group ids to add on top of the ones created
# by ufo.
# elb_security_groups:
#   - sg-aaa
# ecs_security_groups:
#   - sg-bbb
#   - sg-ccc
