ol.overview-stages li {
    /*font-size: 1.1em;*/
    padding: 10px 0;
}

section#main {
    /*text-align: center;*/
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
    color: #292b2c;
    background: #{{ site.color.primary }};
}

section#main .container {
    padding-top: 60px;
    padding-bottom: 50px;
}

section#main img {
    display: block;
    margin: 0 auto 20px;
}

section#main .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-size: 2em;*/
    font-weight: 700;
}

section#main .intro-text .skills {
    /*font-size: 1.25em;*/
    font-weight: 300;
}

@media(min-width:768px) {
    section#main {
        text-align: left;
    }

    section#main .container {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    section#main .intro-text .name {
        /*font-size: 4.75em;*/
    }

    section#main .intro-text .skills {
        /*font-size: 1.75em;*/
    }
}

.content-body {
    text-align: left;
}

.content-body h1 {
    font-size: 1.6em;
}

.content-body h2 {
    font-size: 1.4em;
}

.content-body h3 {
    font-size: 1.35em;
}

.content-body h4 {
    font-size: 1.3em;
}

.content-body ul,
.content-body ol {
    margin-top: 0;
}
.content-body ul li,
.content-body ol li {
    font-size: 1.1em;
}

.content-nav {
    font-size: 1.2em;
    color: #484d4e;
}

.content-nav ul, .content-nav ol {
    list-style-type: none;
    margin-left: 0;
    padding-left: 10px;
}

.content-nav a {
    color: #484d4e;
}

.content-nav a.active {
    /*color: #e2ddef;*/
    color: #2c3e50;
    font-weight: bold;
}

/* override for syntax.css */
code {
    color: #443e40;
    /*background-color: #cdcbd4;*/
    background-color: #f7f7f9;

}

footer h3 {
    margin-bottom: 25px;
}

footer img.footer-logo {
    width: 240px;
}

img.doc-photo {
    width: 100%;
}

/*footer*/
ul.tools {
    margin-top: 0;
}
ul.tools li {
    font-size: 1.3em;
}



.btn-xl {
    padding: 20px 40px;
    border-color: #{{ site.data.template.color.primary }};
    border-radius: 3px;
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #{{ site.data.template.color.primary }};
}

.edit-on-github {
    border-top: thin solid white;
    border-bottom: thin solid white;
    padding: 20px 0;
    margin-top: 80px;
}

.edit-on-github h2 {
    font-size: 1.25em;
}
.edit-on-github p {
    font-size: 0.95em;
}
.edit-on-github ul li,
.edit-on-github ol li {
    font-size: 0.9em;
}

.use-cases {
    font-size: 1.25em;
}

.use-cases li {
    margin-bottom: 15px;
}

table.ship-options td:first-child {
    white-space: nowrap;
}

.keyboard-tip {
    display: none;
}
@media(min-width:992px) {
    .keyboard-tip {
        display: block;
        font-size: 0.9em;
    }
}

#summary {
    font-size: 1.2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
@media(max-width:992px) {
    #summary {
        font-size: 1em;
    }
}

.video-box {
    max-width: 700px;
    text-align: center;
    margin: 0 auto 20px;
}
.video-box .video-container {
      position:relative;
      padding-bottom:56.25%;
      padding-top:30px;
      height:0;
      overflow:hidden;
    }

.video-box .video-container iframe, .video-box .video-container object, .video-box .video-container embed {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
  }
